# Connection string for database
DATABASE_URL="postgresql://db:pass@127.0.0.1/cardano-mainnet-tx-discovery?application_name=mempool-explorer-webapp"

# Websocket url
NEXT_PUBLIC_WS_URL="http://localhost:8080/ws"

# API url
API_URL=http://localhost:8000/api

# (Optional) Whitelist image domains for image proxy
IMAGE_DOMAINS="ipfs.io,cloudflare-ipfs.com"

# Analyze bundle size
ANALYZE=false

# Enable connect wallet button
ENABLE_CONNECT_WALLET=true

NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1

CONTRIBUTERS_JSON_URL=https://raw.githubusercontent.com/dQuadrant/mempool-contributors-json/main/mempool-contributors.json

CONTACT_US_URL=https://forms.bettercollected.com/646b7610f333642e152714bd/forms/6595970e730c9382db922ada